html, body {
  height: 100%;
}

html {
  font-szie: 62.5%;
}

body {
  color: #06000A;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 5rem;
  font-family: 'Nunito', sans-serif;
  text-rendering: optimizeLegibility;
}

/*========================
    NAVIGATION SECTION
=========================*/
.navbar{
  background-color: rgba(0,0,0,1);
}

.navbar-nav{
  float: right;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.nav.navbar-nav > li > a{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all ease-out 0.2s;
}

.navbar .nav > .active > a{
  color: #C70101;
  background-color: transparent;
}

.nav.navbar-nav > li > a:hover,
.nav.navbar-nav > li > a:focus {
  color: #C70101;
  background: none;
  transition: all ease-in 0.2s;
}

.navbar-inverse .navbar-toggle{
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #fccd04;
}

.navbar.transparent{
  background: transparent;
  padding: 10px 0;
  border: none;
}

#content_wrapper {
  height: auto;
  min-height: 100%;
  padding: 0rem 0 6rem;
}

section {
  width: 100%;
  overflow: hidden;
}

button {
  margin: 0;
  border: none;
  padding: 0 1px 0 0;
  color: #252839;
  cursor: pointer;
  background: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button:hover,
button:focus {
  color: #C70101;
}

.bg-img_landing {
  background: url("./img/manutd_logo1.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-img_dashboard {
  background-size: contain;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.9)), url("./img/pogba.jpg") center no-repeat fixed;
}

.bg-img_playerImg-1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("./img/manutd_bg_img9.jpg");
}

.bg-color_black {
  background-color: #06000A;
}

.btn {
  border-radius: 0;
  font-size: 1.2rem;
  text-align: center;
  padding: .8rem 1rem;
  text-transform: uppercase;
}

.btn-sm {
  padding: .3rem .7rem;
}

.sidebar {
  margin: 0;
  width: 100%;
}

.sidebar_box {
  width: 100%;
  padding: 2rem 0;
  margin-bottom: 2.5rem;
  border: 1px solid rgba(199, 1, 1, 0.1);
  transition: all 0.2s ease-in-out;
}

.sidebar_box hr {
  width: 7rem;
  height: .3rem;
  margin: .3rem auto 1rem;
  background-color: rgba(199, 1, 1, 0.7);
}

.sidebar_box h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.sidebar_box h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 2rem 0 0;
  margin: 0;
}

.sidebar_user-avatar {
  width: 100%;
  padding: 0 .2rem;
}

.sidebar_user-avatar img {
  margin: 0 auto;
  width: 12rem;
  height: 12rem;
}

.sidebar_user-avatar span {
  margin: 1rem .3rem;
}

.sidebar_user-info {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.sidebar_user-info .list-group-item {
  border: none;
}

.sidebar_post-imgs {
  width: 100%;
  padding: 1rem;
  overflow-y: scroll;
}

#footer {
  padding: 4rem 0;
  color: #FFFFFF;
  background-color: #06000A;
  border-top: 0.1rem solid rgba(254, 255, 255, 0.1);
}

#footer hr {
  border: none;
  width: 4.5rem;
  height: .3rem;
  margin: .5rem 0 .5rem 0;
  background-color: #C70101;
}

#footer .footer-about h5 {
  margin-bottom: 0;
  font-weight: bold;
}

#footer .footer-about__text {
  margin: 0;
  padding: 1rem 0;
  font-size: 1.4rem;
}

#footer .footer-list-links {
  list-style: none;
  padding: 0;
}

#footer .footer-list-links li a {
  font-weight: 100;
  font-size: 1.4rem;
  color: #FFFFFF;
}

#footer .footer-list-links li a:hover, #footer .footer-list-links li a:active, #footer .footer-list-links li a:focus {
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  color: #C70101;
}

/*====FORM STYLE======*/
.form .btn-file {
  position: relative;
  overflow: hidden;
}

.form .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.form input[type="tel"],
.form input[type="date"],
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  height: 4rem;
  margin: 0;
  padding: 0 2rem;
  vertical-align: middle;
  font-weight: 400;
  line-height: 5rem;
  border-radius: 0;
  /*outline: none;*/
}

.form input[type="checkbox"] {
  height: 1.5em;
  width: 1.5em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #C70101;
  appearance: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form input[type="checkbox"]:checked:before {
  content: '\2713';
  position: absolute;
  font-size: 1.1em;
  text-align: center;
  width: 1.25em;
  color: #C70101;
}

.form .checkbox{
  margin-left: 20px;
  margin-top: .5rem;
}

.form .checkbox label{
  padding-left: 1rem;
  margin-top: .6rem;
}

.form textarea {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 3rem;
  font-weight: 400;
  border-radius: 0;
}

.form h4 {
  font-size: 2.5rem;
  line-height: 5rem;
}

.form label {
  text-transform: uppercase;
  color: #06000A;
  font-size: 1.3rem;
  font-weight: bold;
}

.form select {
  width: 100%;
  outline: none;
  height: 4rem;
  padding: 0 2rem;
  border-radius: 0;
  font-weight: 400;
  line-height: 5rem;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari & Chrome */
  vertical-align: middle;
}

/*====PANEL COMPONENT===*/
.panel {
  width: 100%;
  border-radius: 0;
  border: 0.1rem solid #C70101;
}

.panel .panel-heading {
  border-radius: 0;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #C70101;
}

.panel-heading a {
  color: #FFFFFF;
  text-decoration: none;
}
/*====PANEL COMPONENT END===*/

/*====POST PAGE===*/
.post-header {
  width: 100%;
  /*height: 20rem;*/
  padding-top: 5rem;
  padding-left: 0;
  text-align: center;
  background-color: #06000A;
}

.post-title h2 {
  width: 100%;
  padding: 1rem 0;
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
}

.post-meta small {
  color: #C70101;
}

.post-actions a,
.post-actions li {
  color: #06000A;
  font-weight: 300;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.post-actions a:hover, .post-actions a:focus {
  color: #C70101;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.post-content__description {
  line-height: 2;
  font-weight: 300;
  font-size: 1.6rem;
  padding: 3rem 0;
  text-rendering: optimizeLegibility;
}

.post-comments {
  padding: 0;
  width: 100%;
  list-style: none;
}

.post-comments .comment {
  width: 100%;
  margin-bottom: 1.5rem;
}

.post-comments .comment_avatar {
  padding: .4rem;
  border-radius: 9px;
  text-decoration: none;
}

.post-comments .comment_avatar span {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.post-comments .comment_avatar.thumbnail:hover, .post-comments .comment_avatar.thumbnail:focus {
  border-color: rgba(199, 1, 1, 0.3);
}

.post-comments .comment_bubble {
  width: 100%;
  min-height: 7rem;
  border-radius: 1rem;
  background: #FFFFFF;
  padding: 1.3rem 1.3rem .3rem;
  border: 1px solid rgba(37, 40, 57, 0.3);
}

.posts-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.posts-list {
  list-style: none;
}

.posts-list-item {
  padding: 2rem 0;
  border-bottom: 0.1rem solid rgba(37, 40, 57, 0.2);
}

.posts-list-item:last-child {
  padding-bottom: 2rem;
  border-bottom: .1rem solid transparent;
}

.posts-list-item__link {
  font-weight: 900;
  color: #06000A;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
}

.posts-list-item__link:hover, .posts-list-item__link:focus {
  text-decoration: none;
  color: #C70101;
}

.newpost{
  width: 100%;
  padding: 2rem 1rem;
}

.category-list{
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.category-list li{
  padding: .7rem 0;
}

.category-list li a{
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
}

.category-list li a:active,
.category-list li a:hover{
  text-decoration: none;
}
/*====POST/POSTS PAGE END=====*/

.messages-wrapper {
  width: 80%;
  height: 50rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  border: 1px solid red;
}

.header-left {
  color: #FFFFFF;
}

.header-left .hero-title {
  font-size: 9rem;
  padding: 4rem 0;
  color: #C70101;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
}

.header-right_auth-forms {
  padding: 2rem;
  border-radius: 0;
  color: #06000A;
}

.header-right_auth-forms .form {
  padding: 2rem 0;
}

.header-right_auth-forms .nav-tabs {
  border-bottom: none;
}

.header-right_auth-forms .nav-tabs > li > a {
  border: none;
  color: #06000A;
  text-transform: uppercase;
  background-color: transparent;
  transition: all .2s ease-in-out;
  border-bottom: .3rem solid transparent;
}

.header-right_auth-forms .nav-tabs > li.active > a,
.header-right_auth-forms .nav-tabs > li.active > a:focus,
.header-right_auth-forms .nav-tabs > li.active > a:hover {
  border: 0;
  background-color: transparent;
  border-bottom: .3rem solid red;
  transition: all .2s ease-in-out;
}

.badge {
  padding: 0;
  color: #C70101;
  margin-top: -1rem;
  background: transparent;
}

#pwdforgot,
#pwdforgot label,
#pwdforgot .help-block{
  color: #fff;
}

#pwdforgot .help-block{
  font-weight: 300;
  text-transform: uppercase;
}


/*====DASHBOARD PAGE====*/
.dashboard .jumbotron{
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dashboard_next-game{
  width: 70%;
  color: #fff;
  padding: 3rem 1rem;
  border: 1px solid white;
}

.dashboard_next-game h2{
  font-size: 6rem;
}



/*===follower sidebar===*/
.followers{
  width: 100%;
}

.followers_list{
  padding: 1rem;
  list-style: none;
}

.follower_img{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 1rem;
  display: inline-block;
}

.follower a{
  color: #000;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.follower a:hover,
.follower a:focus{
  font-weight: bold;
  text-decoration: none;
}

/*===== PVT. MESSAGING=====*/
.message_form{
  text-align: center;
}

.message_input textarea{
  width: 80%;
  margin: 0 auto;
  font-size: 1.4rem;
  border: 1px solid rgba(199, 1, 1, 0.2);
}

.panel.messages{
  height: 55rem; 
  overflow-y: scroll;
  border: 1px solid #eee;
}

.messages_list{
  list-style: none;
  padding: 0;
}

.msg-wrapper{
  border-radius: .3rem;
  margin: 1rem 0 2rem 0;
  padding: 1rem;
  width: 90%;
}

.receiver{
  float: left;
  border: 1px solid #eee;
}

.sender{
  float: right;
  border: 1px solid rgba(199, 1, 1, 0.2);
}

.chat_name{
  font-size: 1.4rem;
  font-weight: bold;
}

.chat_text{
  font-weight: 300;
}

.custom_alert{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  font-size: 2rem;
}

.custom_alert.hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}